<div class="b-content__title">
  Home
</div>
<div class="b-content">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus quam quis tincidunt laoreet. Morbi vitae congue magna. Nullam dictum lacus eget velit venenatis lacinia. In pharetra pulvinar congue. Praesent porta sit amet nibh sit amet lobortis. In dapibus varius ipsum quis fringilla. Proin convallis quam malesuada sapien sollicitudin congue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eget fringilla turpis, eu imperdiet nibh. Praesent mollis ullamcorper mauris dictum consequat. Suspendisse lobortis laoreet libero, quis convallis leo interdum sed. Phasellus erat nibh, mollis tristique risus in, egestas pharetra nunc. Nam semper, enim sed mollis convallis, mauris leo blandit sem, a tristique libero augue volutpat augue. Mauris mattis metus velit, in pulvinar erat facilisis id. Ut id mauris lobortis, ultrices turpis a, hendrerit sem. Proin iaculis, dui vitae eleifend imperdiet, orci mi pharetra odio, at tempor est eros in leo.
</div>