<% if signed_in? %>
    $(".b-menu__profile").html("<div>Welcome, <%= @current_user.name %> " +
        "<%= escape_javascript(link_to "Log out", signout_path, method: 'delete', remote: true, :class => "") %></div>");
<% else %>
    $(".b-page__content").html("<%= escape_javascript(render 'sessions/new') %>")
<% end %>