/* fonts */

@font-face {
    src: url('/assets/fonts/Decade.ttf') format('truetype');
    font-family: "Decade";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/fonts/glyphicons-halflings-regular.eot');
    src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.b-page {
    width: 960px;
    margin: 0 auto;
    background: url(bg3.jpg) top left repeat-x;
}

/* Header */

.b-page__head {
    margin-top: 15px;
}

.b-head__logo {
    display: inline-block;
}

.b-creator {
    font-size: 11px;
    font-family: "Arial";
    text-transform: uppercase;
    text-align: left;
    color: #929292;
}

.b-menu__profile {
    font-size: 11px;
    font-family: "Arial";
    text-transform: uppercase;
    text-align: right;
    color: #929292;
    margin-bottom: 16px;
}

.b-logo {
    font-size: 38px;
    font-family: "Decade";
    color: #c7ff66;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0px 3px 2px rgb(0, 0, 0);
}

.b-head__menu {
    display: inline-block;
    float: right;
    /*margin-top: 15px;*/
}

.b-menu {
    margin-top: -10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.b-menu__item {
    display: inline-block;
    list-style-position: inside;
    border: 1px dotted #515151;
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    float: left;
    margin-left: -1px;
}

.b-item__link {
    text-decoration: none;
    font-size: 16px;
    font-family: "Decade";
    text-transform: uppercase;
    color: #dcdcdc;
}

.b-item__link_active {
    color: #c7ff66;
}

.b-menu__item a:active {
    color: #c7ff66;
}

.b-menu__item a:hover {
    text-decoration: none;
    color: #c7ff66;
}

.b-head__slider {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px dotted #515151;
    width: 100%;
    height: 306px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel-caption__text {
    font-size: 30px;
    font-family: "Decade";
}

/* Content */

.b-content__header {
    border-bottom: 1px dotted #515151;
    margin-top: 30px;
}

.b-content__title {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font-size: 32px;
    font-family: "Decade";
    text-transform: uppercase;
    color: #c7ff66;
}

input:focus::-webkit-input-placeholder
{
    color: transparent;
}

.b-content__search-form {
    display: inline-block;
    float: right;
}

.b-content__search-icon {
    color: #cccccc;
    left: 295px;
}

.b-content__search-button {
    color: #cccccc;
    left: 295px;
    background: transparent;
    width: 24px !important;
    height: 24px;
    border: none;
}

.b-content__search-field {
    background-color: rgba( 232, 232, 232, 0.2 );
    width: 300px;
    height: 39px;
    text-decoration: none;
    font-size: 12px;
    font-family: "Tahoma";
    color: #dcdcdc;
    border: 1px dotted #6B6969;
    padding-left: 5px;
}

.b-title__link {
    font-size: 14px;
}

.b-content {
    font-size: 12px;
    font-family: "Tahoma";
    color: rgb(220, 219, 219);
    /*margin-top: 10px;*/
}

.b-content__message {
    text-decoration: none;
    font-size: 12px;
    font-family: "Tahoma";
    color: #c7ff66;
    height: 30px;
    border-top: 1px dotted #515151;
    padding-top: 30px;
    margin-top: 30px;
    padding-left: 20px;
}

.b-content__flash {
    text-decoration: none;
    font-size: 12px;
    font-family: "Tahoma";
    color: #c7ff66;
    height: 30px;
    border-top: 1px dotted #515151;
    border-bottom: 1px dotted #515151;
    margin-top: 10px;
    clear: both;
}


/* Footer */
.b-page__footer {
    height: 30px;
    border-top: 1px dotted #515151;
    border-bottom: 1px dotted #515151;
    /*margin-top: 50px;*/
    clear: both;
}

.b-footer__copyright {
    font-size: 11px;
    font-family: "Verdana";
    color: rgb(140, 140, 140);
    float: left;
    margin-top: 5px;
}

.b-social__item {
    float: right;
    margin-left: 5px;
    margin-top: 2px;
}

/* Form */

.b-form {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.b-form.login {
    width: 300px;
}

.b-form.edit {
    width: 600px;
}

.b-form__field {
    clear: both;
    text-align: right;
    margin-bottom: 10px;
}

.b-form__checkboxes-label {
    font-size: 12px;
    font-weight: normal;
    font-family: "Tahoma";
    color: rgb( 199, 255, 102 );
    text-align: left;
    margin-right: 8px;
    margin-top: 12px;
}

.b-form__checkbox {
    color: #cccccc;
    font-size: 14px;
}

.b-form__checkbox-flag {
    color: #dcdcdc;
    border: 1px dotted #6B6969;
    padding-left: 5px;
}

.b-field__label {
    float: left;
    font-size: 12px;
    font-weight: normal;
    font-family: "Tahoma";
    color: rgb( 199, 255, 102 );
    text-align: left;
    margin-right: 8px;
    margin-top: 12px;
}

.b-field__text-field {
    background-color: rgba( 232, 232, 232, 0.2 );
    /*width: 224px;*/
    width: 100%;
    height: 39px;
    text-decoration: none;
    font-size: 12px;
    font-family: "Tahoma";
    color: #dcdcdc;
    border: 1px dotted #6B6969;
    padding-left: 5px;
}

.b-field__text-area {
    background-color: rgba( 232, 232, 232, 0.2 );
    width: 100%;
    height: 350px;
    text-decoration: none;
    font-size: 12px;
    font-family: "Tahoma";
    color: #dcdcdc;
    border: 1px dotted #6B6969;
    padding-left: 5px;
}

.b-field__text-area.small {
    height: 100px;
}

.field_with_errors .b-field__text-field,
.field_with_errors .b-field__text-area {
    border: 1px dotted red;
}

.b-form__submit {
    background-color: #c7ff66;
    height: 36px;
    border:none;
    padding: 5px 10px;
}

.b-form__submit-text {
    font-size: 20px;
    font-family: "Decade";
    text-align: left;
    color: #5b7135;
}

.b-errors {
    margin-top: 20px;
}

.b-errors__item {
    font-size: 12px;
    font-family: "Tahoma";
    color: rgb(245, 15, 15);
    text-transform: uppercase;
    text-align: left;
    text-shadow: 0px 3px 2px rgb(0, 0, 0);
}

.field_with_errors {
    color: #f00;
}


/* pagination */

.pagination {
    /*float: left;*/
}

.pagination ul {
    padding: 0px;
}

.pagination ul > li {
    display: inline-block;
    list-style-position: inside;
    border: 1px dotted #515151;
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.2);
    float: left;
    margin-left: -1px;
    width: 46px;
    text-align: center;
}

.disabled {
    display: none !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.35) !important;
}

.active a {
    color: #cccccc;
}

.next_page, .previous_page {
    text-align: center;
}

/* Show all microposts */

.b-content__empty {
    font-size: 16px;
    margin: 30px 0px;
}

.b-content__item {
    /*clear: both;*/
    margin-top: 30px;
    margin-bottom: 20px;
}

.b-item {
    margin-left: 130px;
}

.b-item__title {
    font-size: 24px;
}

.b-item__categories,
.b-content__categories {
    font-size: 14px;
    margin: 10px 0px;
    color: #cccccc;
}

.b-item__categories > a,
.b-content__categories > a {
    margin-left: 3px;
}

.b-item__content {
    /*border-top: 1px dotted #515151;*/
    font-size: 14px;
}

.b-item__timestamp {
    float: left;
    font-size: 10px;
    width: 125px;
}

.b-timestamp__day-month {
    font-size: 24px;
}

.b-timestamp__year {
    float: right;
    font-size: 12px;
    margin-right: 25px;
}

.b-item__footer {
    margin: 5px 0px;
}

.b-item__footer_right {
    float: right;
}

.b-item__footer-icon {
    /*margin-right: 2px;*/
}

.b-item__comments {
    margin-top: 25px;
}

.b-item__comments-icon {
    float: left;
    margin-right: 3px;
}

/* Show one micropost */

.b-content__text {
    margin: 20px 0px;
    font-size: 14px;
}

.b-comment {
    margin: 25px 0px;
}

.b-comment__body {
    margin:10px 0px;
}

.b-comment__username {
    font-size: 14px;
    vertical-align: baseline;
}

.b-comment__footer_right {
    float: right;
}

.b-comment__created_at {
    font-size: 10px;
    vertical-align: baseline;
    margin-left: 5px;
}


/* Show user */

.b-content__user {
    margin: 30px 0px;
}

.b-content__user_gravatar {
    display: inline-block
}

.b-content__user_info {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
}

.pictonic-icon {
    font-size: 20px;
}

/* Monster */
.monster {
    background: white;
    width: 5px;
    height: 5px;
    margin-top:18px;
    position: relative;
    -webkit-animation: fly 30s linear infinite normal 1s;
}
@-webkit-keyframes fly{
    0% {
        top: 300px;
        left: 2px;
        /*-webkit-transform:scale(1) rotate(0deg);*/
    }
    5% {
        top: 200px;
        left: 150px;
    }
    6% {
        top: 150px;
        left: 175px;
    }7% {
        top: 100px;
        left: 150px;
    }
    8% {
        top: 150px;
        left: 100px;
    }
    10% {
        top: 250px;
        left: 200px;
    }
    100% {
        top: 100px;
        left: 960px;
        /*-webkit-transform: scale(1) rotate(360deg);*/
    }
}