<div class="b-page__footer">
  <div class="b-footer__copyright">
    Copyright © 2012 Design Portfolio. All rights reserved. A pcklab creation.
  </div>
  <div class="b-footer__social">
    <div class="b-social__item b-item__twitter">
      <%= image_tag("twitter.png") %>
    </div>
    <div class="b-social__item b-item__facebook">
      <%= image_tag("facebook.png") %>
    </div>
    <div class="b-social__item b-item__dribble">
      <%= image_tag("dribble.png") %>
    </div>
    <div class="b-social__item b-item__youtube">
      <%= image_tag("youtube.png") %>
    </div>
  </div>
</div>